---
apiVersion: v1
kind: List
items:
- apiVersion: v1
  kind: Service
  spec:
    ports:
    - name: "8080"
      port: 8080
      targetPort: 8080
- apiVersion: apps.openshift.io/v1
  kind: DeploymentConfig
  metadata:
    annotations:
      springboot-app: ""